* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3333;
  color: white;
}
.App {
  text-align: center;

  .mr_20{
    margin-right: 20px;
  }

  .taskbg {
    background-color: #555;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
     div{
      display: flex;
      align-items: center;
     }

.taskText{
  flex: 1;
}
    .done {
   
      .taskNumber {
        color: #999;
        border: 1px solid #999;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: flex;
        text-align: center;
        font-size: 14px;
        margin-right: 8px;
        align-items: center;
        justify-content: center;
      }

      .taskText {
        text-decoration: line-through;
        opacity: 0.3;
      }
    }
    .iconsWrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80px;

      span {
        display: inline-block;
        max-width: 0px 10px 0px 10px;
        cursor: pointer;
        color: #00ff89;
        font-size: 1.2rem;
        align-self: center;
       

        &:hover {
          color: yellow;
        }
      }
    }
  }
}
